<footer class="container-fluid d-flex justify-content-between py-5 mt-5 border-top">
  <div class="col-md-4">
    <p class="mb-0 text-muted">Rapid Review UI<span id="footer-version"></span> - © Copyright 2022</p>
  </div>
  <div class="col-md-4 text-center d-none d-md-block">
    <svg class="bi" width="32" height="32"><use xlink:href="#logo"></use></svg>
  </div>
  <div class="col-md-4">
    <ul class="list-unstyled d-flex flex-row-reverse my-0">
      <li class="ms-3">
        <a class="link-dark" href="https://github.com/diogomatheus/rapidreview-ui" target=”_blank” rel="noopener">
          <svg class="bi" width="24" height="24"><use xlink:href="#github"></use></svg>
        </a>
      </li>
    </ul>
  </div>
</footer>