<div class="px-4 py-5 my-5 text-center">
  <p id="general-url" class="lead"></p>
  <h1 id="general-title" class="display-5 fw-bold"></h1>
  <div class="col-lg-6 mx-auto">
    <p id="general-abstract" class="lead mb-4"></p>
  </div>
  <div id="general-keywords"></div>
</div>
<div class="container-fluid">
  <p class="display-4">Search analysis</p>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Overview
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#search-overview-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Search overview chart</p>
      <div id="search-overview-chart" class="chart-container"></div>
    </div>
    <div id="search-overview-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search analysis - Overview</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Strategy
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#search-strategy-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Search strategy chart</p>
      <div id="search-strategy-chart" class="chart-container"></div>
    </div>
    <div id="search-strategy-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search analysis - Strategy</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Source
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#search-source-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Search source chart</p>
      <div id="search-source-chart" class="chart-container"></div>
    </div>
    <div id="search-source-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search analysis - Source</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <p class="display-4">Publication analysis</p>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Year
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#publication-year-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Publication year chart</p>
      <div id="publication-year-chart" class="chart-container"></div>
    </div>
    <div id="publication-year-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Publication analysis - Year</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Strategy
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#publication-strategy-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Publication strategy chart</p>
      <div id="publication-strategy-chart" class="chart-container"></div>
    </div>
    <div id="publication-strategy-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Publication analysis - Strategy</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Venue type
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#publication-venue-type-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Publication venue type chart</p>
      <div id="publication-venue-type-chart" class="chart-container"></div>
      <p class="display-6 text-center">Publication venue type table</p>
      <div class="table-container">
        <table id="publication-venue-type-table" class="table table-striped table-bordered" style="width:100%"></table>
      </div>
    </div>
    <div id="publication-venue-type-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Publication analysis - Venue type</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Venue
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#publication-venue-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Publication venue table</p>
      <div class="table-container">
        <table id="publication-venue-table" class="table table-striped table-bordered" style="width:100%"></table>
      </div>
    </div>
    <div id="publication-venue-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Publication analysis - Venue</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Continent
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#publication-continent-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Publication continent chart</p>
      <div id="publication-continent-chart" class="chart-container"></div>
      <p class="display-6 text-center">Publication continent table</p>
      <div class="table-container">
        <table id="publication-continent-table" class="table table-striped table-bordered" style="width:100%"></table>
      </div>
    </div>
    <div id="publication-continent-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Publication analysis - Continent</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Country
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#publication-country-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Publication country chart</p>
      <div id="publication-country-chart" class="chart-container"></div>
      <p class="display-6 text-center">Publication country table</p>
      <div class="table-container">
        <table id="publication-country-table" class="table table-striped table-bordered" style="width:100%"></table>
      </div>
    </div>
    <div id="publication-country-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Publication analysis - Country</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <p class="display-4">Participation analysis</p>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Institution
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#participation-institution-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Participation institution table</p>
      <div class="table-container">
        <table id="participation-institution-table" class="table table-striped table-bordered" style="width:100%"></table>
      </div>
    </div>
    <div id="participation-institution-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Participation analysis - Institution</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Author
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#participation-author-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Participation author table</p>
      <div class="table-container">
        <table id="participation-author-table" class="table table-striped table-bordered" style="width:100%"></table>
      </div>
    </div>
    <div id="participation-author-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Participation analysis - Author</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
  <p class="display-4">Dataset</p>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Selected documents
      <button type="button" class="btn btn-light d-none" data-bs-toggle="modal" data-bs-target="#dataset-selected-documents-modal"><i class="fa-solid fa-circle-info"></i></button>
    </div>
    <div class="card-body">
      <p class="display-6 text-center">Dataset selected documents table</p>
      <div class="table-container">
        <table id="dataset-selected-documents-table" class="table table-striped table-bordered" style="width:100%"></table>
      </div>
    </div>
    <div id="dataset-selected-documents-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Dataset - Selected documents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">TO DO</div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
        </div>
      </div>
    </div>
  </div>
</div>